@font-face {
  font-family: 'MisakiGothic';
  src: url('MisakiGothic.svg#MisakiGothic') format('svg'),
       url('MisakiGothic.ttf') format('truetype'),
       url('MisakiGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'misaki_gothic';
  src: url('misaki_gothic.eot');
  src: url('misaki_gothic.eot?#iefix') format('embedded-opentype'),
       url('misaki_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

