<head>
    {{ if .IsTranslated }}
        {{ range .Translations }}
            <title>{{ if not .IsHome }}{{ .Title }} |{{ end }} {{ .Site.Title }}</title>
        {{ end }}
    {{ end }}
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#006599" />
    <link rel="icon" href="https://tobokegao.github.io{{ .Lang | relLangURL }}/favicon.ico">
    <link rel="canonical" href="https://tobokegao.github.io{{ .Lang | relLangURL }} ">
    {{/* Don't ask why it's like this. This original theme is a mess... */}}
    <!-- <noscript><style>body { visibility: visible }</style></noscript> -->
</head>
